
h5{
    text-align: center;
    margin-top: 3%;
    color: white;

}
h2{
    text-align: center;
    margin-top: 2%;
    color: white;
    text-shadow: 10px;

}
body{
    background-color: rgb(109, 109, 195);
}
.experence__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}

.experence__container > div {
    background: var(--color-bg-varient);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experence__container > div:hover{
    background: rgb(196, 196, 239);
    border-color: var(--color-primary-varient);
    cursor: default;
}

.experence__container > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary-varient);
}

.experence__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;

}

.experence__details{
    display: flex;
    gap: 1rem;
}

.experence__details-icons{
    margin-top: 6px;
    color: var(--color-primary-varient);
}
@media screen and (max-width:1024px) {
  .experence__container{
    grid-template-columns: 1fr;

  }
  .experence__container > div{
    width: 80%;
    padding:  2rem;
    margin: 0 auto;
  }
  .experence__content{
    padding: 1rem;
  }
}
@media screen and (max-width:600px) {
    .experence__container{
        gap: 1rem;
    }

    .experence__container >div {
        width: 100%;
        padding: 2rem 1rem;
    }
    
}
